<div class="container text-center">

    <div class="mb-3 d-flex justify-content-center gap-4">
        <a href="https://github.com/ErandyR" target="_blank" class="text-light">
            <i class="bi bi-github" style="font-size: 1.6rem;"></i>
        </a>

        <a href="https://www.linkedin.com/in/erandyr/" target="_blank" class="text-light">
            <i class="bi bi-linkedin" style="font-size: 1.6rem;"></i>
        </a>

        <a href="https://www.facebook.com/erandy.ramirez.7" target="_blank" class="text-light">
            <i class="bi bi-facebook" style="font-size: 1.6rem;"></i>
        </a>
    </div>

    <p class="mb-0">©️ <span>2025</span> Erandy Ramirez — Tlaxcala, México.</p>

</div>