/* Texto normal */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    color: #222;
    margin-bottom: 1rem;
}

/* Otros textos */
p,
li,
span {
    font-family: "Poppins", sans-serif;
}

/* FLASHCARD FLIP EFFECT */
.flashcard {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    perspective: 1000px;
    /* esencial para el 3D */
}

/* Parte interna que rota */
.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

/* Overflow Frente y reverso de la flashcard */
.flashcard-front p,
.flashcard-back p {
    font-size: 1rem;
    overflow-y: auto;
}


/* Cuando está volteada */
.flipped .flashcard-inner {
    transform: rotateY(180deg);
}

/* Las dos caras */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
}

/* Frente */
.card-front {
    background: white;
    border: 2px solid #ddd;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    transform: rotateY(0deg);
}

/* Carátula trasera */
.card-back {
    background: #f8f9fa;
    border: 2px solid #ccc;
    transform: rotateY(180deg);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

/* Animación en hover */
.flashcard:hover .flashcard-inner {
    transform: scale(1.03);
}


/* Phrasebook extra styling */
#phraseHan {
    font-size: 3rem;
}

#phraseExample {
    font-size: 1.15rem;
    line-height: 1.5;
}

#playAudioBtn {
    transition: 0.3s ease;
}

#playAudioBtn:hover {
    transform: scale(1.05);
}


/* Importar bootstrap */
@import "bootstrap/scss/bootstrap";